header{
	background-color: #0020F4;
	height: 388px;
}

.logo{
	width: 115px;
	height: 65px;
	margin-left: 240px;
	margin-top: 40px;
}
a{
	text-decoration: none;
}
li a{
	color: #FFFFFF;
	font-size: 16px;
}
ul{
	margin-left: 843px;
}
.main{
	width: 1195px;
	height: 600px;
}
h2{
	font-size: 28px;
	margin-top: 30px;
}
.other{
	margin-top: 60px;
	width: 219px;
	height: 219px;
}
.distance{
	margin-right: 25px;
}
div p{
	font-size: 16px;
	width: 951px;
}
.up{
	margin-top: 60px;
}
.bottom{
	margin-bottom: 18px;
}
footer{
	background-color: #0A22F4;
}
.rights{
	width: 209px;
}
.smart{
	width: 121px;
	height: 35px;
}